.content{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
.content img{
    width: 100%;
    max-width: 150px;
    height: 225px;
    margin: 10px;
    flex: 1 1 auto;
    display: flex;
}
.top_title{
    max-width: 150px;
    height: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 10px;
    user-select:none;
}
.top_title:hover {
    color: aqua;
}